<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ui-sref-active="active"><a ui-sref="main" class="nav-link">Home</a></li>
        <li role="presentation"  ui-sref-active="active"><a ui-sref="about" class="nav-link">About</a></li>
      </ul>
    </nav>
    <h2 class="text-muted vcenter">ng-nhs</h2>
  </div>
  <div class="main">
    <h4>
      A tool written in Angular.js which consumes the UK Goverment Health API. Begin your search by selecting a type and either using your current location or by entering a postcode.
    </h4>
    <h4>
      Code at: <a href="https://github.com/edcarr/ng-nhs">Github</a>
    </h4>
  </div>
  <footer class="footer">
    <p>© 2016 ng-nhs</p>
  </footer>
</div>