body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
	padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
	h2 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 40px;
  }
}

.footer {
	padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}

.main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.jumbotron {
  padding: 5px;
}