<div class="container">
  <navbar></navbar>
  <div class="main">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <info item="selectedItem"></info>
        </div>
      </div>
      <div class="col-md-9">
          <form name="searchForm" ng-submit="search()" class="form-inline">
            <div class="form-group">
              <label for="type">Search for</label>
              <select class="form-control" 
              ng-options="type as type.label for type in types track by type.id" 
              ng-model="selected" ng-required="selected">
              </select>
            </div>
            <div class="form-group" ng-class="{'has-error': searchForm.postcode.$invalid && searchForm.postcode.$dirty, 'has-success': searchForm.postcode.$valid && searchForm.postcode.$dirty}">
              <label for="postcode">in</label>
              <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Enter Postcode" ng-model="postcode" ng-required="searchWithPostcode" ng-pattern="regex">
            </div>

            <button type="submit" class="btn btn-default">
              Search
            </button>
          </form>
        <div class="main" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBNg1Bop_0v6_VD1bNhuPpsHxBAbPF2DQc">
          <ng-map zoom="2" center="{{center}}" zoom-to-include-markers="auto">
            <custom-marker id="home" position="{{center}}">
              <div>
                <h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span></h2>
              </div>
            </custom-marker>
            <marker ng-repeat="item in items track by $index" position="{{item.pos}}" id="{{item.id}}" on-click="selectItem(item)">
            </ng-map>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>© 2016 ng-nhs</p>
  </footer>
</div>
